@page "/senddata"
@inject HttpClient Http
<h1>Store Data with a click of a button</h1>

<form>
  <div class="form-group">
    <label for="Key">Key</label>
    <input type="text" class="form-control" @bind(Key) aria-describedby="Enter a key that your value will be associated with" placeholder="Enter Key">
    <small id="KeyHelp" class="form-text text-muted">This is the Key that your value will be associated with.</small>
  </div>
  <div class="form-group">
      <label for="Secret">Secret</label>
    <input type="password" class="form-control" @bind(Secret) placeholder="Enter Secret">
      <small id="SecretHelp" class="form-text text-muted">This is the Secret that will be required to retreive the value.</small>
  </div>  
  <div class="form-group">
      <label for="Value">Value</label>
      <input type="text" class="form-control" @bind(Value) aria-describedby="Enter Value" placeholder="Enter Value">
      <small id="KeyHelp" class="form-text text-muted">This is the value that you would like to store.</small>
  </div>
  <button @onclick(async () => await sendData()) class="btn btn-primary">Store</button>
</form>
@if (Success)
{
    //display the success message
<p><b>Yayyy, your data has been successfully submitted. Key is @Key and Value is @Value</b></p>
}
else if (Error) { 
    <p><b>Oh man, there was an error storing you values, refresh the page and try again later</b></p>
}
@functions {
    public string Key { get; set; } = "";
    public string Secret { get; set; } = "";
    public string Value { get; set; } = "";
    public bool Success { get; set; } = false;
    public bool Error { get; set; } = false;
    private async Task sendData()
    {
        //ensure that all fields are filled out
        if (Key == "" || Secret == "" || Value == "") { 

        }
        //send the data
        String response = await Http.GetStringAsync("https://keyshare.herokuapp.com/keys/storevalue?key="+Key+"&secret=" + Secret +"&value=" + Value);
        if (response == "\"Success\"")
        {
            //set the Submitted boolean to true
            Success = true;
        }
        else {
            Error = true;
        }

        //refresh the user interface
        this.StateHasChanged();
    }
}
